@model dynamic

@{
    ViewBag.Title = "Hello Dapper";
}

<h2>Hello Dapper</h2>

<ul>
    <li><a href="/Sales/SalesReport?startDate=1/1/2006">Sales YTD 2007</a> </li>
    <li><a href="/Sales/SalesReport?startDate=1/1/2007">Sales YTD 2008</a> </li>
</ul>
