<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!-- This is the EF connection string -->
    <add name="AdventureWorksData" connectionString="metadata=res://*/Data.AdventureWorks.csdl|res://*/Data.AdventureWorks.ssdl|res://*/Data.AdventureWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=(local);Database=AdventureWorks2008R2;Trusted_Connection=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- This is the Dapper connection string -->
    <add name="AdventureWorks2008R2_Data.mdf_Dapper" connectionString="Server=(local);Database=AdventureWorks2008R2;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>